#cp{
	//border: 2px solid orange;
	margin-top: 6%;
    width: 90%;
    height: 75%;
    
   margin-left: 5%;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow:  0 0 22px #666666;
}
#logo{
    position: absolute;
    top: -60%;
 right: 80%;
}
.filas{
	
	height: 100%;
	width: 100%;
	margin-left: 1.5%;
}
#flash{
 float:left;
    width: 100%;
}
article{
	height: 20%;
}
#paginas{
	margin-top: 1%;
	width: 99%;
	height: 3%;
	border: 2px solid white;
}
#terminos{
    margin: 18% 0% 0% 0%;
    background-color: #000;
  
    height: 7%;
    width: 100%;
}