
/* 
    Author     : RavenSoul
*/
body{
    background:url(../imagenes/fondo-web.jpg) repeat-x fixed;
    background:linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
    background:-moz-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
    background:-o-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
    background:-ms-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
    background:-webkit-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
    background:#111 no-repeat;
/*	background:url(../imagenes/fondo-web.jpg) repeat-x fixed;
	background:linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
	background:-moz-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
	background:-o-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
	background:-ms-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;
	background:-webkit-linear-gradient(top, #000, #353535 300px, #000 300px, #353535) repeat-x fixed;*/
    padding: 0%;
    margin: 0%;
}
.nav li{
    background: url('../css/menu_line.png') no-repeat scroll right 5px transparent;
    text-align: center;
}
.nav {
    width:60%;
    height: 97%;
    background: url('../css/menu_bg.png') no-repeat scroll 0 0 transparent;
    clear: both;
    font-size: 12px;

}
.nav:hover{
    //background-image: -moz-linear-gradient(0% 100px 90deg, #999, #343435);   
    //background-image: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#343435), to(#999));
}

.nav li {
    display: block;
    height: 40%;
    margin-left: 0%;
    position: relative;
    width: 100%;

    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(,0,0,0.75);
    background-image: -moz-linear-gradient(0% 22px 90deg, #d4d4e1, #999);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#d4d4e1));
}
.nav > li:first-child {
    font-style: italic;
    height: 100%;
    background: none;
}

.nav li a{
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: normal;
    padding: 10px 10px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
.nav li a:hover {
    display: block;
    //padding: 10px 20px;
    border-left: 1px solid #999;
    border-right: 1px solid #222;
    text-decoration: none;

    color: #00B4FF;
    
}
.nav li a:focus {
    outline: none;
    text-decoration: underline;
}
.nav ul {
    background-color: #222;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    position: absolute;
    top: -9999px;
    z-index: 0;
    padding: 0%;
}
.nav ul li{
    text-align: left;
    margin-left: 0%;
}
.nav ul li {
    background: none;
    width: 100%;
}
.nav ul li a {
    float: none;
}
.nav ul li:hover > a {
    background-color: #121212;
    color: #00B4FF;
}
.nav li:hover ul {
    text-align:center;
    left: 0%;
    top: 50%;
    width: 100%;
    //margin-top: 3%;
    background-image: -moz-linear-gradient(0% 100px 90deg, #999, #343435);   
    background-image: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#343435), to(#999));
}
#t{
    margin: 0 auto;
    width: 98%;
    height: 1600px;
    //border: 2px solid red;
    //padding: 1%;
}
.bar{
    top:0%;
    //border: 1px solid red;
    height: 12%;
    width: 100%;
    //float: left;
}
.bar a{
    height: 50%;
    width: 100%;
    //float: left;
}
.bar1{
    height: 50%;
    width: 100%;
    margin-top: 1.8%;
    //border: 1px solid red;
    float: left;
}
.art1{
    margin: 0% 1% 0% 1%;
    width: 45%;
    height: 32%;
}
#tsup{
    //position: fixed;
    //top: 0%;
    width: 100%;
    height: 4%;
    margin-top: .5%;
    float: left;
    //border: 1px solid red;
    background-color: black;
    //width: 100%; 
    //height: 6%;
    //float: start;
    //margin: 0px;
}
#th{
    //background-image: url(../css/minigames2.png);
    width: 20%;
    //border: 2px solid green;
    height: 100%;
    float:left;
}
#th a, #th a article, #th a article img {
    height: 100%;
    width: 100%;
}
#bus{
    margin-left: 25%;
    padding: 0%;
    width: 40%;
    //border: 2px solid salmon;
    height: 10%;
    float: left;
}
#txtbus{
    width: 85%;
    height: 80%;
    float:left;
    border-radius: 8px;
}
#busico{
    width: 15%;
    height: 1%;
    //border:2px solid orange;
    float:left;
}
#busico2,#busico2 img{
    height: 100%;
    width: 100%;
    float: left;
}
#cat{
    width: 24%;
    //border: 2px solid gold;
    height: 100%;
    float : left;   
}
#nuevos{
    margin-top: 12%;
    //border: 2px solid black;
    width: 99%;
    height: 25%;
    padding: .5%;
    
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow:  0 0 22px #666666;
}
figure{
    width: 90%;
    height: 65%;
    //border: 1px solid gold;
    text-align: center;
    margin: 0%;
    margin-top: 0%;
}
figure.p{
    margin:0 auto;
    width: 80%;
    height: 100%;
    //border: 1px solid yellow;
}
img.dbi{
    width: 100%;
    height: 100%;
    //border: 2px solid red;
}
figcaption{
    height: 24%;
    margin: 0%;
    margin-top: 0%;
}
figcaption:hover{
    color:black;
    background-color: lightyellow;
}
.punt, .p .punt{
    //border: 1px solid red;
    padding: 0%;
    height: 50%;
    //background-color: red;
    width: 30%;
    float: left;
}
.jugar, .p .jugar{
    height: 50%;
    margin-left: 5%;
    //background-color: blue;
    width: 65%;
    float: left;
}
.like{
    margin-top: 10%;
    //border: 1px solid blue;
    width: 30%;
    height: 60%;
    float: left;
}
.val_punt{
    margin-top: 10%;
    //border: 1px solid red;
    height: 100%;
    width: 35%;
    float: left;
}
.no_like{
    margin-top: 10%;
    width: 30%;
    height: 60%;
    float: left;
}
.jugar_btn{
    width: 100%;
    height: 100%;
    float: left;
}
h2{
    margin: 0%;
    text-align: center;
}
article{
    margin:0 auto;
    margin-bottom: .3%;
    width: 19%;
    //border: 1px solid indianred;
    height: 26%;
    float:left;
    text-align: center;
}
#nuevos article{
    margin-left: 1%;
}
#jmmo{
    margin-top: 3%;
    //border: 2px solid infotext;
    
    background-color: #ffffff;
    box-shadow:  0 0 22px #666666;
    width: 100%;
    height: 15%;
    border-radius: 25px;
}

#jmmo2{
    padding: 0%;
    //border: 2px solid saddlebrown;
    width: 74%;
    height: 95%;
    float:left;
}
#n{
    //border:2px solid blue;
    width: 25%;
    height: 80%;
    float:left;
}
.p img{
    //border: 1px solid red;
    height: 64%;
}
.mmo{
    //border:2px solid blue;
    width: 19%;
    height: 45%;
}
#d{
    margin-top: 4%;
    //border: 2px solid orange;
    width: 99%;
    height: 55%;
    margin-left: 1%;
}
.col{
    margin-right: 3.5%;
    margin-bottom: 1.5%;
    width: 21.5%;
    height: 49%;
    
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow:  0 0 22px #666666;
    float:left;
}
.tit{
    //border: 2px solid blue;
    width: 100%;
    height: 20%;
    text-align: center;
}
.titc{
    width: 40%;
    height: 20%;
    //float: top;
    //border: 1px solid red;
    margin: 0 auto;
}
.cont{
    //border: 2px solid indigo;
    height: 80%;
    margin-top: 2%;
}
.elcol{
    height: 12%;
    width: 99%;
    margin-bottom: 5%;
    //border: 1px solid red;
}
.elcol figure{
    float: left;
    width: 35%;
    height: 100%;
    //border: 1px solid blue;
}
.elcol figure img{
    border: none;
}
.elcol .sub_col{
    margin-left: .5%;
    float: left;
    width: 62%;
    height: 100%;
    //border: 1px solid gold;
}
.elcol .jugar{
    height: 100%;
}
.elcol .punt{
    height: 100%;
}
#terminos{
    //margin: 18% 0% 0% 0%;
    margin-top: 5%;
    background-color: #000; 
    height: 7%;
    width: 100%;
}
.swf_cat{
    width: 100%;
    height: 96%;
    margin: 0%;
    padding: 0%;
    float: none;
    //border: 1px solid yellow;
}