
/* 
    Author     : RavenSoul
*/

#caja1{
    width: 100%;
    height: 950px;
}
body{
 
	font-size:14px;
	color:#666;
	background:#111 no-repeat;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
#botonaceptar{
margin: 0% 0% 0% 0%;
left:45%;
top: 145%;
position: absolute;
}

#presentacion1{
    border-radius: 0% 0% 5% 5%;
    background-color: #212121;
    color: #c5c7c7;
border: 1px solid #FFFFFF;
box-shadow: 0 0 22px #717171;
height: 88%;
margin: 100px auto 0;
//position: relative;
width: 50%;
float:start;
}
#minicajas1{
background-color:#000;
border: 1px solid #FFFFFF;
box-shadow: 0 0 22px #111111;
height: 100%;
margin: 0%;
position: relative;
width: 40%;
float: right;
}
#minicajas2{
background-color:#000;
border: 1px solid #FFFFFF;
box-shadow: 0 0 22px #111111;
height: 100%;
margin: 0%;
position: relative;
width: 40%;
float: left;
}
#presentacion ul{
height: 320px;
left: -15px;
list-style: none outside none;
overflow: hidden;
position: absolute;
top: -10px;
width: 620px;
}
#presentacion li{
position:absolute;
display:none;
z-index:10;
}
#presentacion li:first-child{
display:block;
z-index:1000;
}
#presentacion .flecha{
height:86px;
width:10px;
position:absolute;
background:url('imagenes/flecha.png') no-repeat;
top:50%;
margin-top:-43px;
cursor:pointer;
z-index:5000;
}
#presentacion .anterior{
background-position:left top;
left:-30px;
}
#presentacion .anterior:hover{
background-position:left bottom;
}
#presentacion .siguiente{
background-position:right top;
right:-30px;
}
#presentacion .siguiente:hover{
background-position:right bottom;
}
#presentacion .derechos{
position: absolute;
top: 105%;
left: 25%;
}




#izq{
    margin: 0%;
    //border: 1px solid navy;
    width: 49%;
    height: 100%;
    float: left;

}
#der{
    margin: 0%;
    //background-color: aquamarine;
    //border: 1px solid red;
    width: 49%;
    height: 100%;
    float: right;
}

#art2{
    margin: 0% 1% 0% 0%;

    width: 45%;
    height: 100%;
    float: left;
}
#art3{
   margin: 0% 1% 0% 1%;

    width: 45%;
    height: 100%;
    float: left;;
}
#art4{
  margin: 0% 1% 0% 0%;

    width: 45%;
    height: 100%;
    float: left;
}


#terminos{
    margin: 13% 0% 0% 0%;
    background-color: #000;
  
    height: 7%;
    width: 100%;
}
