/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-nov-2014, 17:40:07
    Author     : Soren
*/
#Contenedor{
    width: 100%;
    height: 1000px;
}
body{   
	font-size:14px;
	color:#666;
	background:#111 no-repeat;
}
header article{
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    
    position:absolute;
 
}

header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    height: 571px;
    margin: 30px auto;
    width: 957px;
}
#cajabarra{
     border: 1px solid black;
    background-color: black;
   width: 100%; 
   height: 6%;
   float: start;
   margin: 0px;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background: url('css/menu_bg.png') no-repeat scroll 0 0 transparent;
    clear: both;
    font-size: 12px;
    height: 58px;
    padding: 0 0 0 9px;
    position: relative;
    width: 490px;
}
#nav ul {
    background-color: #222;
    border:1px solid #222;
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    z-index: 2;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

}
#nav li {
    background: url('css/menu_line.png') no-repeat scroll right 5px transparent;
    float: left;
    position: relative;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: normal;
    height: 30px;
    padding: 23px 20px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#nav li:hover > a {
    color: #00B4FF;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;
}
#nav li:hover ul.subs {
    left: 0;
    top: 53px;
    width: 180px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
    float: none;
}
#nav ul li:hover > a {
    background-color: #121212;
    color: #00B4FF;
}
#lavalamp {
    background: url('css/lavalamp.png') no-repeat scroll 0 0 transparent;
     height: 60px;
    left: 19px;
    
    position: absolute;
    bottom: 29px;
    width: 64px;
    -moz-transition: all 320ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
#lavalamp:hover {
    -moz-transition-duration: 3000s;
    -ms-transition-duration: 3000s;
    -o-transition-duration: 3000s;
    -webkit-transition-duration: 3000s;
    transition-duration: 3000s;
}

/*movimiento del cursor*/
#nav li:nth-of-type(1):hover ~ #lavalamp {
    left: 23px;
}
#nav li:nth-of-type(2):hover ~ #lavalamp {
    left: 110px;
}
#nav li:nth-of-type(3):hover ~ #lavalamp {
    left: 185px;
}
#nav li:nth-of-type(4):hover ~ #lavalamp {
    left: 260px;
}
#nav li:nth-of-type(5):hover ~ #lavalamp {
    left: 330px;
}
#nav li:nth-of-type(6):hover ~ #lavalamp {
    left: 410px;
}
#Contenido2{
    margin-left: 20%;
    margin-top: 10%;
    background-color: #333333;
    width: 60%;
    height: 70%;
    overflow: auto;
    box-shadow: 0 -1px 10px aliceblue;
}
#letras{
    color: #ffffff ;
    margin-left: 2%;
}
.botoncini{
     border-color: #33ccff;
     color: white;
     background-color: #0066ff;
     float: right;
     margin-right: 50%;
}
.cont{
    color: white;
}
#form1{
    width: 100%;
    height: 10%;
}
#form2{
    width: 100%;
    height: 10%;
}
#form3{
    width: 100%;
    height: 10%;
}
#form4{
    width: 100%;
    height: 10%;
}
#form5{
    width: 100%;
    height: 10%;
}
#form6{
    width: 100%;
    height: 10%;
}