
/* 
    Author     : RavenSoul
*/

#caja1{
    width: 100%;
    height: 950px;
}
body{
    
	font-size:14px;
	color:#666;
	background:#111 no-repeat;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
#acerca{
    margin-top: 5%;
    color: white;
    width: 100%;
    height: 60%;
       
}
h1{
    font:  large;
    color: #FFFFFF;
    font-size: 50px;
}
h2{
    font:  large;
    color: #FFFFFF;
    font-size: 30px;
}
h4{
    font: italic;
    color: #FFFFFF;
    font-size: 15px;
}
footer{
    background-color: #333333;
    width: 100%;
        height: 20%;
        color: #cccccc;
}
#minigames{
float: right;
    margin-right: 20%;
}
#contlogo1{
        background-color: gainsboro;
    float: right;
    width: 20%;
    height: 40%;
    box-shadow: 0 -1px 4px #0066ff;
}
#contlogo2{
    background-color: gainsboro;
    float: right;
    width: 20%;
    height: 40%;
    box-shadow: 0 -1px 4px #0066ff;
}
